/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}
body {
  color: black;
}

h1 {
  font-size: 44px;
  margin-bottom: 20px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 16px;
  font-weight: normal;
}
h4 {
  margin-top: 20px;
  font-size: 18px;
}
h5 {
  font-size: 24px;
  margin-bottom: 15px;
}

/*Navigation*/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 166px 10px 177px;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
}
.logo a {
  cursor: pointer;
  margin-right: auto;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  margin: 15px -0.55px;
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: black;
}
.nav-links a:hover {
  color: #0078aa;
}

/*Section home*/
.home {
  padding: 263px 177px;
  height: 700px;
  background-image: url("../img/lady.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-text {
  width: 520px;
}

.icons-home {
  display: flex;
  gap: 22px;
  color: #fff;
  margin-top: 23px;
}

.start-icons {
  background-color: #0078aa;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-solid:hover {
  color: #0078aa;
  background-color: #fff;
  border: 2px solid #0078aa;
}

/*Section about*/
.about {
  padding: 0 5px;
  height: 570px;
  display: flex;
}

.about-text {
  width: 500px;
  padding: 70px 50px;
}
.tools div {
  width: 25%;
}

.arrow {
  font-size: 18px;
}
/*Section services*/
.services {
  padding: 50px 0;
  height: 710px;
  text-align: center;
  display: flex;
  background-image: url("../img/services_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.services-divs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.service-box {
  background-color: #fff;
  width: 375px;
  height: 240px;
  padding: 30px 26px;
  text-align: left;
}
.h-services {
  margin-top: 15px;
}
/*Section pricing*/
.pricing {
  padding: 80px 0;
  height: 800px;
  text-align: center;
  background-image: url("../img/pricing_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pricing-text {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.card {
  background-color: #09c2db;
  color: #fff;
  padding-top: 50px;
  width: 388px;
  height: 555px;
  text-align: center;
  margin-top: 60px;
}
.card-centre {
  background-color: #fff;
  color: #0078aa;
  padding-top: 77px;
  width: 393px;
  height: 615px;
  text-align: center;
  margin-top: 30px;
  border: 1px solid#0078aa;
  border-right: 3px solid#0078aa;
  border-bottom: 3px solid#0078aa;
}
.treatments ul {
  list-style: none;
}
.treatments li {
  margin-bottom: 25px;
  list-style: none;
  font-size: 14px;
}
.treat-amount {
  font-style: italic;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.price {
  font-size: 65px;
  font-weight: bold;
}
.get-now {
  background-color: #fff;
  border: 1px solid#0078aa;
  color: #0078aa;
  font-weight: bold;
  font-size: 15px;
  padding: 13px 25px;
  border-radius: 12px;
}

/*Section contact*/
.contact {
  padding: 50px 0;
  height: 640px;
}
.contact-container {
  display: flex;
  align-items: center;
}
.contact-img img {
  width: 760px;
  height: 560px;
  margin-top: 33px;
}
.contact-img {
  flex: 1;
}
.contact-text {
  flex: 1;
  padding: 60px 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 15px 10px;
}
input {
  padding: 5px;
  font-style: italic;
  border: 0;
  border-bottom: 1px solid gray;
}
.submit {
  background-color: #0078aa;
  border-radius: 10px;
  border: 0;
  width: 90px;
  padding: 13px 0;
  color: #fff;
  font-weight: bold;
}

/* Style for the Up Button */
.up-btn {
  position: fixed;
  bottom: 25px;
  right: 22px;
  padding: 12px 20px;
  background-color: #0078aa;
  color: white;
  text-align: center;
  border-radius: 30px;
  font-size: 23px;
  cursor: pointer;
  text-decoration: none;
}

/*Footer*/
.footer {
  background-color: #363636;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  letter-spacing: 0.05em;
}
@media (min-width: 1280px) {
  header {
    padding: 40px 100px;
  }
  section {
    padding: 100px 150px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  header {
    padding: 10px 10px;
  }
  .home {
    padding: 250px 15px;
    background-size: cover;
    height: 630px;
    background-position: 40% 60%;
  }
  .about {
    display: flex;
    height: auto;
  }
  .tools {
    padding: 140px 0px;
  }
  .tools img {
    width: 90%;
  }
  .about-text {
    width: 80%;
    padding: 60px 0;
  }
  .services {
    height: auto;
    padding: 30px 10px;
  }
  .service-box {
    width: 100%;
    height: auto;
    padding: 15px 10px;
  }
  .card,
  .card-centre {
    width: 80%;
  }
  .contact-container {
    display: flex;
  }
  .contact-img img {
    width: 100%;
    object-fit: cover;
    object-position: 20% 80%;
  }
  .contact-text {
    width: 60%;
  }
}
@media (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .home {
    padding: 40px 15px;
    background-size: cover;
    background-position: left center;
    height: auto;
    align-items: center;
  }
  .home-text {
    padding: 200px 85px 10px;
    width: 480px;
  }
  .home h1 {
    font-size: 48px;
  }
  .icons-home {
    gap: 55px;
    justify-content: center;
  }
  .start-icons {
    height: 60px;
    width: 60px;
    font-size: 40px;
    border-radius: 30px;
  }
  .about {
    flex-direction: column;
    height: auto;
  }
  .about-text {
    justify-items: center;
    padding: 0 20px;
  }
  h2 {
    font-size: 45px;
  }
  .about-text h4 {
    font-size: 23px;
  }
  .arrow {
    padding: 13px 0;
  }

  .tools img {
    width: 100%;
  }
  .services {
    height: auto;
  }
  .services-divs {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .service-box {
    width: 80%;
  }
  .pricing {
    height: auto;
  }
  .pricing-text {
    flex-direction: column;
    align-items: center;
  }
  .card,
  .card-centre {
    width: 80%;
  }

  .contact {
    height: auto;
  }
  .contact-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-img img {
    max-width: 100%;
    height: auto;
  }
}
