body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 350px;
  list-style: none;
}

.user-card {
  background-color: white;
  margin-top: -20px;
  border-radius: 10px;
  border: 1px solid #6a6a6a;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}

.user-card:hover {
  transform: scale(1.05);
  z-index: 10;
}
.user-name {
  padding: 20px 10px 0;
}
.user-username {
  padding-bottom: 20px;
  color: #767474;
  font-size: 14px;
}
.card-actions {
  display: none;
  position: absolute;
  top: -12px;
  right: 0;
  justify-content: center;
  gap: 10px;
}

.user-card:hover .card-actions {
  display: flex;
}
.user-card:hover .card-footer {
  display: flex;
}

.card-footer {
  display: none;
  color: #000000;
  background-color: #dad8d8;
  padding: 10px;
  font-size: 10px;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #6a6a6a;
}

.edit-form {
  width: 300px;
  padding: 20px;
  position: fixed;
  top: 35px;
  right: 35px;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form input {
  padding: 6px;
  font-size: 14px;
}
.submit-btn {
  text-align: center;
}
.submit {
  padding: 6px 6px;
  width: 100px;
}
.submit:hover {
  background-color: #1fcf45;
}
button {
  padding: 6px 12px;
  margin-top: 3px;
  font-size: 12px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(51, 51, 51);
}

button:hover {
  background-color: #ff3e3e;
}
#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 4px solid #ccc;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  z-index: 1000;
  background: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
